In [7]:
import requests
import os
import pandas as pd
import numpy as np
import json
#from pandas import json_normalize
import sqlite3

In [15]:
foursquare_api = "fsq3u98iHboEuSwGOgUw7vIxg3C1EFb4yG+x7jWwwdRG1Q0="
#yelp_id = os.environ['yelp_ID']
#yelp_key = os.environ['yelp_key']
#google_key = os.environ['google_key']

# Foursquare

Send a request to Foursquare with a small radius (1000m) with the location of your choice

In [16]:
"""url fields base"""

fsq_url_relevance = "https://api.foursquare.com/v3/places/search?query=restaurants&ll=44.38%2C-79.70&radius=1000&sort=RELEVANCE&limit=50"

"""using for popularity requests"""
fsq_url_poplt = "https://api.foursquare.com/v3/places/"
fsq_fields = "?fields=fsq_id%2Cpopularity"


fsq_headers = {
    "Accept": "application/json",
    "Authorization": foursquare_api
}

In [19]:
fsq_relevn_res = requests.get(fsq_url_relevance, headers=fsq_headers)
fsq_relevn_json = fsq_relevn_res.json()

Parse through the response to get the POI details you want (rating, name, location, etc)

### helping function

In [21]:
def get_popolatiry(fsq_id):
    """return popularity data for the restaurant according to unique their fsq_id"""
    poplt_res = requests.get(fsq_url_poplt+fsq_id+fsq_fields, headers=fsq_headers)
    return poplt_res.json()

def write_json(respones_data, name_json):
    """make a json file if not exit with data file and name"""
    """name_json has to have prefix .json, and in string type"""
    with open(name_json, "w") as opf:
        json.dump(respones_data, opf)

def check_empty_data(clm):
    """check nan, empty list [], dict {} column with more than 40% within column"""
    count = 0
    nan_val = None
    for value in clm:
        #null_val = ["[]", "{}" "''", "NaN", "NULL"]
        if value == [] or value == {} or value == () or value == 'NaN':
            nan_val = value
            #print(value)
            count += 1
    #("null values percent: {}%".format(count/len(clm)*100))
    if (count/len(clm)*100) > 40:
        return True
    else:
        return False
    
def drop_na(df):
    """drop all columns with nan or empty list value more than 40% within column, using function check_empty_data"""
    nan_value = np.nan
    for col in df.columns:
        #bool_val, nul_val = check_empty_column(df[col])
        if check_empty_data(df[col]) == True:
            df.drop(col, axis=1, inplace=True)
            
def high_empty_rate(df):
    """the function will return table of isnull values and True False column with columns of data, with more than 40% of emtpty rows in column"""
    bool_list = []
    col_list = []
    is_nul = [val for val in df.isnull().sum()]
    for col in df.columns:
        TF_value = check_empty_data(df[col])
        col_list.append(col)
        bool_list.append(TF_value)
    list_of_tuples = list(zip(col_list, is_nul, bool_list))
    #isnull_check = pd.DataFrame(df_fsq_revln.isnull().sum())
    return pd.DataFrame(list_of_tuples, columns=['columnName','is-nul-check','40%-or higher-empty-data'])

### Exploring and Checking data

In [22]:
"""checking json file"""
fsq_relevn_json.keys()

dict_keys(['results', 'context'])

In [23]:
"""checking fsq_relevn_json file content"""
type(fsq_relevn_json), type(fsq_relevn_json['results']), type(fsq_relevn_json['context']), fsq_relevn_json['context'], fsq_relevn_json['results'][0]

(dict,
 list,
 dict,
 {'geo_bounds': {'circle': {'center': {'latitude': 44.38, 'longitude': -79.7},
    'radius': 1000}}},
 {'fsq_id': '4d2ef96479dd6ea83b848dd3',
  'categories': [{'id': 11057,
    'name': 'Caterer',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/foodanddrink_',
     'suffix': '.png'}}],
  'chains': [],
  'distance': 226,
  'geocodes': {'main': {'latitude': 44.3814, 'longitude': -79.697968},
   'roof': {'latitude': 44.3814, 'longitude': -79.697968}},
  'link': '/v3/places/4d2ef96479dd6ea83b848dd3',
  'location': {'address': '96 Victoria St',
   'country': 'CA',
   'cross_street': '',
   'formatted_address': '96 Victoria St, Barrie ON L4N 2J1',
   'locality': 'Barrie',
   'postcode': 'L4N 2J1',
   'region': 'ON'},
  'name': "Fox's Catering",
  'related_places': {},
  'timezone': 'America/Toronto'})

In [24]:
"""getting relevent data"""
fsq_relevn_json = fsq_relevn_json['results']
fsq_poplt = [get_popolatiry(fsq['fsq_id']) for fsq in fsq_relevn_json]

In [25]:
write_json(fsq_poplt ,"popularity_res_foursquare.json")
write_json(fsq_relevn_json,"relevn_res_foursquare.json")

In [26]:
df_fsq_poplt = pd.read_json("popularity_res_foursquare.json")
df_fsq_revln = pd.read_json("relevn_res_foursquare.json")

In [19]:
type(df_fsq_poplt), type(df_fsq_revln)

(pandas.core.frame.DataFrame, pandas.core.frame.DataFrame)

In [40]:
df_fsq_revln.head(2)

,fsq_id,categories,distance,geocodes,link,location,name,timezone
0,4d2ef96479dd6ea83b848dd3,"[{'id': 11057, 'name': 'Caterer', 'icon': {'pr...",226,"{'main': {'latitude': 44.3814, 'longitude': -7...",/v3/places/4d2ef96479dd6ea83b848dd3,"{'address': '96 Victoria St', 'country': 'CA',...",Fox's Catering,America/Toronto
1,4b6eee17f964a5209cd12ce3,"[{'id': 13049, 'name': 'Diner', 'icon': {'pref...",523,"{'main': {'latitude': 44.379593, 'longitude': ...",/v3/places/4b6eee17f964a5209cd12ce3,"{'address': '151 Bradford St', 'country': 'CA'...",Midway Diner,America/Toronto

### Cleaning data

In [55]:
df_fsq_revln['location'][23]
#n = 0
#for location in df_fsq_revln['location']:
#    n = n+1
#    print(n, location['postcode'])

{'address': 'Dunlop St E',
 'country': 'CA',
 'cross_street': 'Mulcaster St',
 'formatted_address': 'Dunlop St E (Mulcaster St), Barrie ON',
 'locality': 'Barrie',
 'region': 'ON'}

In [56]:
def unpack_location(data):
    """unpacked location infos into list, for later use input to sqlite table"""
    num = 0
    location_list = []
    for location in data['location']:
        #fsq_id = data['fsq_id'][num]
        details = pd.Series(location)[['address', 'locality', 'region', 'country']]
        fsqid_col = pd.Series([data_geo['fsq_id'][num]], index=['fsq_id'])
        location_list.append(pd.concat([fsqid_col, details]))
        num += 1
    return location_list

def unpack_categories(data):
    """unpacking the categories into dataframe for later, input to sqlite table"""
    cat_idx = data.set_index(['fsq_id']).categories.apply(pd.Series).stack().index
    df_catgrs = pd.DataFrame(data.set_index(['fsq_id']).categories.apply(pd.Series).stack().values.tolist(),index=cat_idx).reset_index().drop(['level_1', 'icon'], axis=1)
    return df_catgrs

In [57]:
high_empty_rate(df_fsq_revln)

   columnName  is-nul-check  40%-or higher-empty-data
0      fsq_id             0                     False
1  categories             0                     False
2    distance             0                     False
3    geocodes             0                     False
4        link             0                     False
5    location             0                     False
6        name             0                     False
7    timezone             0                     False

In [58]:
"""drop all high empty columns, according to function high_empty_rate return"""
drop_na(df_fsq_revln)

In [59]:
df_fsq_revln.head(2)

,fsq_id,categories,distance,geocodes,link,location,name,timezone
0,4d2ef96479dd6ea83b848dd3,"[{'id': 11057, 'name': 'Caterer', 'icon': {'pr...",226,"{'main': {'latitude': 44.3814, 'longitude': -7...",/v3/places/4d2ef96479dd6ea83b848dd3,"{'address': '96 Victoria St', 'country': 'CA',...",Fox's Catering,America/Toronto
1,4b6eee17f964a5209cd12ce3,"[{'id': 13049, 'name': 'Diner', 'icon': {'pref...",523,"{'main': {'latitude': 44.379593, 'longitude': ...",/v3/places/4b6eee17f964a5209cd12ce3,"{'address': '151 Bradford St', 'country': 'CA'...",Midway Diner,America/Toronto

In [60]:
"""extracting category and location columns"""
data_categor = df_fsq_revln[['fsq_id', 'categories']]
data_geo = df_fsq_revln[['fsq_id', 'location']]

"""input to dataframe format"""
df_location = pd.DataFrame(unpack_location(df_fsq_revln))
df_categories = unpack_categories(data_categor)

In [63]:
df_location.head(3)

                     fsq_id          address locality region country
0  4d2ef96479dd6ea83b848dd3   96 Victoria St   Barrie     ON      CA
1  4b6eee17f964a5209cd12ce3  151 Bradford St   Barrie     ON      CA
2  5a70fb7a9411f2304935997a     29 Anne St S   Barrie     ON      CA
                     fsq_id     id                 name
0  4d2ef96479dd6ea83b848dd3  11057              Caterer
1  4b6eee17f964a5209cd12ce3  13049                Diner
2  4b6eee17f964a5209cd12ce3  13068  American Restaurant

In [25]:
"""drop columns with not relevant info, and columns that already be extacted"""
df_fsq_revln.drop(['geocodes', 'link', 'location', 'categories', 'distance'], axis=1, inplace=True)

In [26]:
type(df_fsq_poplt), type(df_fsq_revln), len(df_fsq_poplt), len(df_fsq_revln)

(pandas.core.frame.DataFrame, pandas.core.frame.DataFrame, 20, 20)

Put your parsed results into a DataFrame

In [27]:
"""merging two dataframes to one"""
df_places_popularity = pd.merge(left=df_fsq_revln, right=df_fsq_poplt, left_on='fsq_id', right_on='fsq_id')

# Yelp

Send a request with the same location paramaters (location, radius, etc)

In [28]:
Yelp_url = 'https://api.yelp.com/v3/businesses/search?latitude=44.38&longitude=-79.70&radius=1000&categories=restaurants, All&limit=50'
yelp_headers = {
    "Accept": "application/json",
    "Authorization": "Bearer" + " " + yelp_key
}

Parse through your result and get POI details

### LOADING DATA

In [29]:
yelp_res = requests.get(Yelp_url, headers=yelp_headers)
yelp_json = yelp_res.json()

Put your parsed results into a DataFrame

### """EXPLORING AND CHECKING RESQUETS DATA"""

In [30]:
yelp_json.keys()

dict_keys(['businesses', 'total', 'region'])

In [31]:
type(yelp_json['businesses']), type(yelp_json['total']), type(yelp_json['region'])

(list, int, dict)

In [32]:
"""yelp_json['total'] is total res return, no need to check further, yelp_json['businesses'] is data we looking for"""
yelp_json['businesses'][0], yelp_json['region']

({'id': '0ALYlK6edo8OnbiwH-b7fA',
  'alias': 'lazy-tulip-cafe-barrie',
  'name': 'Lazy Tulip Cafe',
  'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/1lOxlPckMeZqG-JHB0IJOg/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/lazy-tulip-cafe-barrie?adjust_creative=R3IyOYuVXLt1MMjX1HFo3g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=R3IyOYuVXLt1MMjX1HFo3g',
  'review_count': 56,
  'categories': [{'alias': 'cafes', 'title': 'Cafes'},
   {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'},
   {'alias': 'sandwiches', 'title': 'Sandwiches'}],
  'rating': 4.0,
  'coordinates': {'latitude': 44.37958, 'longitude': -79.69345},
  'transactions': [],
  'price': '$$',
  'location': {'address1': '151 Bradford Street',
   'address2': None,
   'address3': '',
   'city': 'Barrie',
   'zip_code': 'L4N 3B4',
   'country': 'CA',
   'state': 'ON',
   'display_address': ['151 Bradford Street', 'Barrie, ON L4N 3B4', 'Canada']},
  'phone': '+17052520910',
  'display_phone': '+1 705-252-0910',
  'distance': 531.0234267541861},
 {'center': {'longitude': -79.7, 'latitude': 44.38}})

In [33]:
write_json(yelp_json['businesses'], "yelp_res_data.json")

In [34]:
df_yelp = pd.read_json("yelp_res_data.json")

In [35]:
df_yelp.head(10)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,0ALYlK6edo8OnbiwH-b7fA,lazy-tulip-cafe-barrie,Lazy Tulip Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/1lOxlP...,False,https://www.yelp.com/biz/lazy-tulip-cafe-barri...,56,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",4.0,"{'latitude': 44.37958, 'longitude': -79.69345}",[],$$,"{'address1': '151 Bradford Street', 'address2'...",17052520910,+1 705-252-0910,531.023427
1,FEV75sLYoN1dvSpUCyIePA,pie-wood-fired-pizza-joint-barrie-4,Pie Wood Fired Pizza Joint,https://s3-media4.fl.yelpcdn.com/bphoto/-vGeWK...,False,https://www.yelp.com/biz/pie-wood-fired-pizza-...,65,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.0,"{'latitude': 44.3811166940956, 'longitude': -7...",[],$$,"{'address1': '11 Victoria St', 'address2': '',...",17057287952,+1 705-728-7952,748.207341
2,s-noC8RmKF6FF2TZscl4Ig,the-farmhouse-restaurant-barrie,The Farmhouse Restaurant,https://s3-media1.fl.yelpcdn.com/bphoto/Evy3zl...,False,https://www.yelp.com/biz/the-farmhouse-restaur...,75,"[{'alias': 'southern', 'title': 'Southern'}, {...",3.5,"{'latitude': 44.3746199, 'longitude': -79.6896...",[],$$,"{'address1': '268 Bradford Street', 'address2'...",17057370522,+1 705-737-0522,1018.732499
3,efeu6n1otNmaJPhwNLbLLw,il-buco-ristorante-barrie,Il Buco Ristorante,https://s3-media4.fl.yelpcdn.com/bphoto/sE-WPP...,False,https://www.yelp.com/biz/il-buco-ristorante-ba...,22,"[{'alias': 'italian', 'title': 'Italian'}]",4.0,"{'latitude': 44.38914, 'longitude': -79.68919}",[],$$,"{'address1': '31 Dunlop St E', 'address2': '',...",17057359595,+1 705-735-9595,1320.964019
4,ye_x-eM4Cl7zkjxIAHSj3g,casa-mia-restaurant-barrie,Casa Mia Restaurant,https://s3-media4.fl.yelpcdn.com/bphoto/Vf4WV0...,False,https://www.yelp.com/biz/casa-mia-restaurant-b...,20,"[{'alias': 'greek', 'title': 'Greek'}]",3.5,"{'latitude': 44.38801, 'longitude': -79.69337}",[],$$,"{'address1': '88 Dunlop Street W', 'address2':...",17057373663,+1 705-737-3663,1053.401691
5,gQEegmEvAh2btKQDcPd6Yg,andys-place-barrie,Andy's Place,https://s3-media4.fl.yelpcdn.com/bphoto/zyR8s-...,False,https://www.yelp.com/biz/andys-place-barrie?ad...,7,"[{'alias': 'breakfast_brunch', 'title': 'Break...",3.5,"{'latitude': 44.38115, 'longitude': -79.70649}",[],$$,"{'address1': '19 Hart Drive', 'address2': '', ...",17057219537,+1 705-721-9537,520.347698
6,OIoDkTi8qTpyyvmoXigJfg,bull-and-barrel-pub-barrie,Bull and Barrel Pub,https://s3-media4.fl.yelpcdn.com/bphoto/0AyZ5m...,False,https://www.yelp.com/biz/bull-and-barrel-pub-b...,9,"[{'alias': 'pubs', 'title': 'Pubs'}, {'alias':...",4.0,"{'latitude': 44.3839, 'longitude': -79.71124}",[],$$,"{'address1': '75 Cedar Pointe Drive', 'address...",17057194600,+1 705-719-4600,924.857486
7,i2lVeikx7Hj2ep9Y-zpp3Q,the-north-restaurant-barrie,The North Restaurant,https://s3-media2.fl.yelpcdn.com/bphoto/L82nrN...,False,https://www.yelp.com/biz/the-north-restaurant-...,21,"[{'alias': 'italian', 'title': 'Italian'}, {'a...",3.5,"{'latitude': 44.38873, 'longitude': -79.6925}",[],$$$,"{'address1': '49 Mary Street', 'address2': '',...",17058122192,+1 705-812-2192,1147.843371
8,kHq6MchLviFUvR_r3R5-pg,zios-by-giancarlo-barrie,Zio's By Giancarlo,https://s3-media2.fl.yelpcdn.com/bphoto/_XVjAP...,False,https://www.yelp.com/biz/zios-by-giancarlo-bar...,6,"[{'alias': 'italian', 'title': 'Italian'}]",3.5,"{'latitude': 44.37519, 'longitude': -79.69955}",[],NaN,"{'address1': '110 Anne Street S', 'address2': ...",17052525410,+1 705-252-5410,544.163700
9,oMYWMunOZycu6s_9hBazDw,queen-pouteen-innisfil,Queen Pouteen,https://s3-media2.fl.yelpcdn.com/bphoto/VgBY4Y...,False,https://www.yelp.com/biz/queen-pouteen-innisfi...,2,"[{'alias': 'streetvendors', 'title': 'Street V...",5.0,"{'latitude': 44.3755531311035, 'longitude': -7...",[],NaN,"{'address1': '1455 Innisfil Street', 'address2...",17057164459,+1 705-716-4459,779.424611

### """CLEANING DATA"""

In [36]:
high_empty_rate(df_yelp)

       columnName  is-nul-check  40%-or higher-empty-data
0              id             0                     False
1           alias             0                     False
2            name             0                     False
3       image_url             0                     False
4       is_closed             0                     False
5             url             0                     False
6    review_count             0                     False
7      categories             0                     False
8          rating             0                     False
9     coordinates             0                     False
10   transactions             0                      True
11          price            19                     False
12       location             0                     False
13          phone             0                     False
14  display_phone             0                     False
15       distance             0                     False

In [37]:
drop_na(df_yelp)
df_yelp.drop(['alias', 'image_url', 'is_closed', 'url', 'categories', 'coordinates', 'distance', 'phone'], axis=1, inplace=True)

In [38]:
df_yelp_location = df_yelp['location']
df_yelp.drop(['location'], axis=1, inplace=True)

In [39]:
df_yelp['price'] = df_yelp['price'].fillna(df_yelp.price.describe().top)

# Google (stretch)

Use the same process as the first two APIs

# Database FOURSQUARE

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

In [40]:
df_places_popularity.columns, df_categories.columns, df_location.columns

(Index(['fsq_id', 'name', 'timezone', 'popularity'], dtype='object'),
 Index(['fsq_id', 'id', 'name'], dtype='object'),
 Index(['fsq_id', 'address', 'locality', 'postcode', 'region', 'country'], dtype='object'))

In [41]:
fsq_database = sqlite3.connect('/Users/felixle/Desktop/Bootcamp Lectures/week_2/mini-project-II/data/square_database')
fsq_conn = fsq_database.cursor()

In [42]:
fsq_conn.execute('''
                    CREATE TABLE IF NOT EXISTS popularity_rate
                    ([popularity_id] INTEGER PRIMARY KEY AUTOINCREMENT,[fsq_id] VARCHAR,[name] TEXT,[timezone] TEXT,[popularity] DECIMAL)
                ''')
fsq_conn.execute('''
                CREATE TABLE IF NOT EXISTS location
                ([location_id] INTEGER PRIMARY KEY AUTOINCREMENT, [fsq_id] VARCHAR, [address] VARCHAR, [locality] TEXT, [postcode] VARCHAR, [region] TEXT, [country] TEXT)
                ''')
fsq_conn.execute('''CREATE TABLE IF NOT EXISTS categories
                 ([categories_id] INTEGER PRIMARY KEY AUTOINCREMENT, [fsq_id] VARCHAR, [id] VARCHAR, [name] TEXT)
                 ''')

fsq_database.commit()

df_places_popularity.to_sql('popularity_rate', fsq_database, if_exists='replace', index=False)
df_location.to_sql('location', fsq_database, if_exists='replace', index=False)
df_categories.to_sql('categories', fsq_database, if_exists='replace', index=False)

31

In [43]:
# Get the top 10 restaurants according to their rating

In [44]:
pd.read_sql("""SELECT name, popularity
                FROM popularity_rate
                ORDER BY popularity DESC
                """, fsq_database)

                          name  popularity
0               Fox's Catering    0.985121
1           The Italian Bakery    0.979595
2         Pie Wood Fired Pizza    0.975060
3   Popeye's Louisiana Kitchen    0.967975
4                  Mary Browns    0.952813
5                Diamond Sushi    0.939918
6                 Midway Diner    0.936375
7                   Cafe Beans    0.926598
8                  Pizza Pizza    0.925181
9      Continental Specialties    0.922347
10                  Pizza Nova    0.914128
11                      Subway    0.893864
12              Topper's Pizza    0.866941
13                     Wok Inn    0.862264
14                    Tiffsbar    0.856313
15                 The Regatta    0.845827
16           The Mexican House    0.827689
17  Sticky Fingers Bar & Grill    0.801615
18              Diamond Buffet    0.760096
19                Andy's Place    0.168060

## YELP DATABASE

In [45]:
yelp_database = sqlite3.connect('/Users/felixle/Desktop/Bootcamp Lectures/week_2/mini-project-II/data/yelp_database')
yelp_conn = yelp_database.cursor()

In [46]:
df_yelp.columns

Index(['id', 'name', 'review_count', 'rating', 'price', 'display_phone'], dtype='object')

In [47]:
yelp_conn.execute('''
                    CREATE TABLE IF NOT EXISTS Barrie_locations
                    ([id] VARCHAR,[name] VARCHAR,[review_count] DECIMAL,[rating] DECIMAL,[price] VARCHAR, [display_phone] VARCHAR)
                  ''')

yelp_database.commit()

df_yelp.to_sql('Barrie_locations', yelp_database, if_exists='replace', index=False)

37

In [48]:
# Get the top 10 restaurants according to their rating

In [49]:
pd.read_sql("""SELECT name, rating
                FROM Barrie_locations
                ORDER BY rating DESC
                """, yelp_database)

                                        name  rating
0                              Queen Pouteen     5.0
1                   Casano Italian Resturant     5.0
2                                      Bacio     5.0
3                                    Mexhico     4.5
4                                   Pattyhut     4.5
5                            Lazy Tulip Cafe     4.0
6                 Pie Wood Fired Pizza Joint     4.0
7                         Il Buco Ristorante     4.0
8                        Bull and Barrel Pub     4.0
9                               Midway Diner     4.0
10              Little D's Family Restaurant     4.0
11                       Fox's Bakery & Deli     4.0
12                              Heinz Burger     4.0
13       Continental Specialties and Imports     4.0
14                                Pizza Nova     4.0
15                  The Farmhouse Restaurant     3.5
16                       Casa Mia Restaurant     3.5
17                              Andy's Place     3.5
18                      The North Restaurant     3.5
19                        Zio's By Giancarlo     3.5
20                                  Pita Pit     3.5
21                Town & Country Steak House     3.5
22                Papa Joe's Pizza & Chicken     3.5
23                Popeyes Louisiana Kitchen     3.0
24            Cha Cha Cha Italian Restaurant     3.0
25                         Amaya Indian Room     3.0
26                   One Love Island Cuisine     3.0
27                                 Roti Jerk     3.0
28                             Diamond Sushi     2.5
29                          British Arms Pub     2.5
30                                McDonald's     2.0
31                         Dragon Restaurant     2.0
32                          Tandoori Tonight     1.5
33  Scarpaccio's Ristorante Grill & Wine Bar     1.0
34                       Four Season Delight     1.0
35                 Dairy Queen Grill & Chill     1.0
36                            Topper's Pizza     1.0

# Travelling Salesman Problem (stretch)

If you have time, follow the steps in the [ortools tutorial](https://developers.google.com/optimization/routing/tsp) using Google's [Directions API](https://developers.google.com/maps/documentation/directions/start).